*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(112, 229, 229);
    text-align: center;
    padding: 20px;
}
#countLabel{
    font-family: fantasy;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
#increaseBtn{
    font-family: cursive;
    padding: 15px 30px;
    background-color: aqua;
    border-radius: 10px;
    border-color: beige;
    transition: ease-in-out 0.3s;
    margin: 0 10px;
    font-size: 1.2rem;
    display: inline-block;
}
#resetBtn{
    font-family: cursive;
    padding: 15px 30px;
    background-color: rgb(60, 71, 71);
    border-radius: 10px;
    border-color: rgb(203, 203, 129);
    transition: ease-in-out 0.3s;
    margin: 0 10px;
    font-size: 1.2rem;
    display: inline-block;
}
#decreaseBtn{
    font-family: cursive;
    padding: 15px 30px;
    background-color: rgb(199, 147, 197);
    border-radius: 10px;
    border-color: lavenderblush;
    transition: ease-in-out 0.3s;
    margin: 0 10px;
    font-size: 1.2rem;
    display: inline-block;
}
#increaseBtn:hover{
    color: bisque;
    background-color: rgb(125, 109, 140);
    transform: translate(3px);
}
#decreaseBtn:hover{
    color: bisque;
    background-color: rgb(82, 82, 125);
    transform: translate(3px);
}
#resetBtn:hover{
    color: bisque;
    background-color: rgb(42, 25, 57);
    transform: translate(3px);
    border-left: blue;
}

@media (max-width: 600px) {
    #countLabel {
        font-size: 2rem;
    }
    #increaseBtn, #resetBtn, #decreaseBtn {
        padding: 10px 20px;
        font-size: 1rem;
        margin: 0 5px;
    }
}